.sdp {
  --font: 'Montserrat',
    sans-serif;
  --selected-date-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: #ffffff;
}

.sdp:focus,
.sdp--month-name:focus,
.sdp--square-btn:focus {
  outline: none;
  box-shadow: none;
}

.sdp--month-name {
  width: 32px;
  line-height: 130%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.sdp--text {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  font-family: var(--font);
}

.sdp--text__inactive {
  color: #bdbdbd;
  pointer-events: none;
}

.sdp--square-btn {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: var(--font);
}

.sdp--square-btn:focus:hover {
  box-shadow: none;
}

.sdp--square-btn__shadowed {
  box-shadow: none;
}

.sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

.sdp--date-btn__selected {
  color: var(--selected-date-color);
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected.sdp--square-btn:focus {
  box-shadow: none;
}

.sdp--month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sdp--dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 0.5rem 0 0;
  justify-items: center;
}

.sdp--dates-grid > p {
  padding: 0.5rem 0;
}
